<h2>
  <%= @book.title %>
</h2>

<h3>
  <%= @book.author.name %>
</h3>

<section>
  <h4>
    Genres
  </h4>

  <% if @book.genres.any? %>
    <ul>

      <% @book.genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>

    </ul>
  <% else %>
    <p>There are no genres assigned to this book</p>
  <% end %>

</section>




<p>
  <%= @book.description %>
</p>

<%= link_to "Back to All Books", books_path %>

<%= link_to "Edit #{@book.title}", edit_book_path(@book.id) %>

<%= link_to "Delete #{@book.title}", 
    book_path(@book.id), method: :delete %>

<%= image_tag "samson.jpg", alt: "Image of cat named Samson" %>
