<!DOCTYPE html>
<html>
  <head>
    <title>AdaBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ada Books!</h1>
      <% if flash.count > 0 %>
        <section class="flash">
          <div class="alert alert-danger">
          <% flash.each do |name, message| %>
            <% if message.class == Array %>
              <ul>
              <% message.each do |msg| %>
                <li><%= name %>: <%= msg %> </li>
              <% end %>
            <% else %>
              <%= message %>
            <% end %>
            </ul>
          <% end %>


          </div>
        </section>
      <% end %>
      <section>
      <%= link_to("Login with GitHub", github_login_path, class: "btn btn-primary") %>
     
      <%= link_to "All authors", authors_path, class: "btn btn-primary" %>
      <%= link_to "All books", books_path, class: "btn btn-danger" %>
        <%= link_to "Add book",
            new_book_path  %>
        <%= link_to "Add Author", new_author_path %>
      </section>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
